<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480819346188-l0rfktou5228ueo12ea25hud8es25mg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480819346188-l0rfktou5228ueo12ea25hud8es25mg4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480819346188-9bg9hk6kba54hbc0a97stju5d19abm5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuxgo387_a629jHyWxlNFZeD8cNvoEXcw</string>
	<key>GCM_SENDER_ID</key>
	<string>480819346188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakwithmeAi</string>
	<key>PROJECT_ID</key>
	<string>speakwithme-535f1</string>
	<key>STORAGE_BUCKET</key>
	<string>speakwithme-535f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480819346188:ios:f504bac61a2de51482a729</string>
</dict>
</plist>